<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
    <nav class="menu">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    



    <siv class="title">Registro de estudiantes</div>
    <form action="/" method="post" id="form" onsubmit= "return validarDatos()">

        <div class="form-group formulario__grupo form__grupo  text-left" id="grupo_nombre">
            <label for="nombre">CEDULA</label>
            <input type="text" id="ci" name="ci" class="form-control input" 
            onblur="revisarValidacion(this); revisarCedula(this)" onkeyup="revisarValidacion(this); revisarNombre(this)" 
            >
        </div>

        <div class="form-group formulario__grupo form__grupo text-left" id="grupo_usuario">
            <label for="nombre">NOMBRE</label>
            <input type="text" id="name" name="name" class="form-control input" 
            onblur="revisarValidacion(this); revisarNombre(this)" onkeyup="revisarValidacion(this); revisarNombre(this)" 
            >
        </div>

        <div class="form-group text-left formulario__grupo form__grupo" id="grupo_direccion">
            <label for="nombre">DIRECCION</label>
            <input type="text" id="dir" name="dir" class="form-control input" 
            onblur="revisarValidacion(this); revisarDir(this)" onkeyup="revisarValidacion(this); revisarDir(this)" 
             >
        </div>

        <div class="form-group text-left formulario__grupo form__grupo" id="grupo_telefono">
            <label for="nombre">TELEFONO</label>
            <input type="text" id="telef" name="telef" class="form-control input" 
            onblur="revisarValidacion(this); revisarTelef(this)" onkeyup="revisarValidacion(this); revisarTelef(this)" 
            >
        </div>


        <div class="form-group text-left formulario__grupo form__grupo" id="grupo_direccion">
            <label for="nombre">CORREO</label>
            <input type="mail" id="mail" name="mail" class="form-control input" 
            onblur="revisarValidacion(this); revisarCorreo(this)" onkeyup="revisarValidacion(this); revisarCorreo(this); revisarCorreo(this)" 
             >
        </div>

        <div class="form-group enviar">
            <input type="submit" class="btn btn-success btn-block boton_rl" value="Enviar REGISTRO" id="enviar">
        </div>

        

    </form>

                <script>

const expresiones = {
    ci: /^[a-zA-ZÀ-ÿ\s]{1,10}$/, // Letras y espacios, pueden llevar acentos 1 a 10 carácteres.
    name: /^[a-zA-ZÀ-ÿ\s]{1,50}$/, // Letras y espacios, pueden llevar acentos 1 a 50 carácteres.
    dir: /^[a-zA-Z0-9\_\-]{1,50}$/, // 1 a 50 carácteres.
    telef: /^[+]*[(]?[0-9]{1,4}[)]?[0-9-\s\.]{1,6}$/, // 1 a 10 digitos.
    correo: /\S+@\S+.\S+/, // formato de correo.
}

function revisarValidacion(elemento) {
    if (elemento.value == '') {
        elemento.className = 'error';
    } else {
        elemento.className = 'input';
    }
}

function revisarCedula(elemento) {
    if (elemento.value !== '') {
        var data = elemento.value;
        if (!expresiones.ci.test(data)) {
            elemento.className = 'error';
        } else {
            elemento.className = 'input';
        }
    }
}

function revisarNombre(elemento) {
    if (elemento.value !== '') {
        var data = elemento.value;
        if (!expresiones.name.test(data)) {
            elemento.className = 'error';
        } else {
            elemento.className = 'input';
        }
    }
}


function revisarDir(elemento) {
    if (elemento.value !== '') {
        var data = elemento.value;
        if (!expresiones.dir.test(data)) {
            elemento.className = 'error';
        } else {
            elemento.className = 'input';
        }
    }
}

function revisarTelef(elemento) {
    if (elemento.value !== '') {
        var data = elemento.value;
        if (!expresiones.telef.test(data)) {
            elemento.className = 'error';
        } else {
            elemento.className = 'input';
        }
    }
}


function revisarCorreo(elemento) {
    if (elemento.value !== '') {
        var data = elemento.value;
        if (!expresiones.correo.test(data)) {
            elemento.className = 'error';
        } else {
            elemento.className = 'input';
        }
    }
}

function validarDatos() {
    var datos = true;
    var alert1 = "";
    var alert2 = "";
    var alert4 = "";
    var alert5 = "";
    var alert7 = "";

    if (document.getElementById("ci").value == "" || !expresiones.ci.test(document.getElementById("ci").value)) {
        datos = false;
        alert1 = "\nLa cedula debe ser de 1 a 10 numeros"
    }

    if (document.getElementById("name").value == "" || !expresiones.name.test(document.getElementById("name").value)) {
        datos = false;
        alert2 = "\nEl nombre debe tener de 4 a 16 carácteres"
    }


    if (document.getElementById("dir").value == "" || !expresiones.dir.test(document.getElementById("dir").value)) {
        datos = false;
        alert4 = "\nLa direccion debe ser de 1 a 50 carácteres"
    }

    if (document.getElementById("telef").value == "" || !expresiones.telef.test(document.getElementById("telef").value)) {
        datos = false;
        alert5 = "\nEl telefono solamente son 10 digitos"
    }


    if (document.getElementById("mail").value == "" || !expresiones.correo.test(document.getElementById("mail").value)) {
        datos = false;
        alert7 = "\nEl formato del correo es incorrecto"
    }

    if (!datos) {
        alert('Errores:' + error1 + error2  + error4 + error5 + error7);
    }



    return datos;
}

                </script>
</body>
</html>